# mac
*.DS_Store

# ide
.idea

# vscode
.vscode

# libraries
node_modules

# testing
coverage

# certificates
certificates/*

# documentation
documentation

**/*.js
**/*.js.map
**/*.d.ts

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# logs
npm-debug.log
